@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto:wght@700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #27272a;
  font-family: 'Roboto', sans-serif;
}

.header {
  display: flex;
  justify-content: center;
  margin: 30px;
  color: white;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin: 30px;
  height: 75vh;
}

.outer-box {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 25px;
}

.right-btn > img,
.left-btn > img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.left-btn img,
.right-btn img {
  transition: all 0.2s ease;
}

.slideshow img {
  transition: all 300ms ease-in-out;
  border-radius: 30px;
  width: 52vw;
  height: 60vh;
}

.hidden {
  display: none;
}

.image.current {
  display: block;
}

.curr-slide {
  display: flex;
  gap: 15px;
}

.dot {
  width: 12px;
  height: 12px;
  background-color: white;
  opacity: 0.3;
  border-radius: 100%;
  cursor: pointer;
  transition: all 0.2s ease;
}

.addCurrent {
  animation: btn-fade-in 500ms forwards;
}

.removeCurrent {
  animation: btn-fade-out 700ms forwards;
}

.visual {
  opacity: 0;
}

.fadeIn {
  animation: fade-in 500ms forwards;
}

.fadeOut {
  animation: fade-out 500ms forwards;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.3);
}

.footer p {
  color: white;
  opacity: 0.8;
}

.footer a {
  color: white;
  text-decoration: none;
}

.footer a:hover {
  color: white;
  opacity: 0.8;
}

@keyframes btn-fade-in {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 0.7;
  }
}

@keyframes btn-fade-out {
  from {
    opacity: 0.7;
  }
  to {
    opacity: 0.3;
  }
}

@keyframes fade-in {
  0% {
    display: none;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.left-btn img:hover,
.right-btn img:hover,
.dot:hover {
  transform: scale(1.2, 1.2);
}

.left-btn img:active,
.right-btn img:active,
.dot:active {
  transform: scale(1, 1);
}

@media screen and (max-width: 750px) {
  .header {
    margin-top: 10vh;
  }

  section {
    margin: 0;
  }

  .slideshow img {
    width: 74vw;
    height: 30vh;
  }

  .right-btn > img,
  .left-btn > img {
    width: 6vw;
    height: 6vh;
  }

  .dot {
    width: 10px;
    height: 10px;
  }
}
